body {
    background-color: rgb(191, 152, 46);
}

h1 {
    color: goldrod;
    margin-left: 20px;
    font-family: 'Courier New', monospace;
    border: 2px solid red;
    
}
h2 {
 color: goldrod;
    margin-left: 20px;
    font-family:Impact, fantasy
    border-color:black;
    

}
h3 {
    color: goldrod;
    margin-left: 20px;
    border: 2px solid powderblue;
   
}
